body {
    background-position: left;
    background-image: url('../../Images/bandaLateral.PNG');
    background-repeat: repeat-y;
    background-color: white;
    color: black;
    margin: 0;
}


.float-left {
    float: left;
}

.float-right {
    float: right;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.miniClub {
    color: black; /*#c8c8c8;*/
    font-family: 'SignPainter HouseCasual';
    font-size: 28px;
    text-decoration: none;
    display: block;
    margin-right: 0;
}


.FollowImage {
    Height: 30px;
    Width: 30px;
    border: none;
    padding: 0px;
    margin: 0px;
    display: block;
    float: right;
}

.FollowImageFooter {
    Height: 30px;
    Width: 30px;
    border: none;
    padding: 0px;
    margin: 0px;
}


#DetailsFile {
    width: 100%;
    margin: auto;
    display: inline-block;
}

/*#region Header*/
header {
    clear: both;
    background-color: #1570cd;
    font-size: .8em;
    height: 90px;
    display: block;
    color: white;
}

.site-title {
    color: black; /*#c8c8c8;*/
    font-family: 'SignPainter HouseCasual';
    font-size: 64px;
    margin: 0;
    width: 768px;
    text-decoration: none;
}
/*#endregion*/

/*#region AdminBody*/
#AdminBody {
    margin: 0;
    padding: 0;
    width: 100%;
}

#AdminContent {
    width: auto;
    float: left;
    display: inline-block;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom : 5px;
}

/*#region Admin Menu */
#AdminMenu {
    width: 190px;
    float: left;
    display: inline-block;
}

.adminButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #97c4fe;
    -webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe;
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
    background: -moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    background-color: #3d94f6;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-indent: 0px;
    border: 1px solid #337fed;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    height: 29px;
    line-height: 29px;
    width: 190px;
    text-decoration: none;
    text-align: center;
    -webkit-text-shadow: 1px 1px 0px #1570cd;
    text-shadow: 1px 1px 0px #1570cd;
}

    .adminButton:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
        background: -moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
        background-color: #1e62d0;
    }

    .adminButton:active {
        position: relative;
        top: 1px;
    }

.itemButton {
    -moz-box-shadow: inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow: inset 0px 1px 0px 0px #bee2f9;
    box-shadow: inset 0px 1px 0px 0px #bee2f9;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
    background: -moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color: #63b8ee;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-indent: 0px;
    border: 1px solid #3866a3;
    display: inline-block;
    color: #14396a;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    height: 29px;
    line-height: 29px;
    width: 300px;
    text-decoration: none;
    text-align: center;
    -webkit-text-shadow: 1px 1px 0px #7cacde;
    text-shadow: 1px 1px 0px #7cacde;
}

    .itemButton:hover {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
        background: -moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
        background-color: #468ccf;
    }

    .itemButton:active {
        position: relative;
        top: 1px;
    }

/*#endregion*/
/*#endregion*/

/*#region Footer*/
footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 80px;
    display: block;
    margin: 0;
    padding: 5px;
}

    footer .content-wrapper {
        width: 100%;
        height: 100%;
        margin: 5px;
    }



#follow {
    float: left;
    width: 400px;
    padding: 0 0 0 0;
}

    #follow li {
        display: inline;
        margin: 0 0 0 2px;
    }
/*#endregion*/


